@import "./src/styles/style.module";

.scrollTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: $background-body-color;
  z-index: 9999;
  border-bottom: 1px solid $border-color;
}

.homeTitle {
  font-weight: 800;
  font-size: 22px;
}
