@import "../../styles/style.module";

.btn {
  @include button(12px, 253px);
}


.link {
  display: block;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  text-align: right;
  &:hover {
    text-decoration: underline;
  }
}

.root {
  padding: 2px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  color: white;
  margin-left: 2px;
  flex: 1;
}

.iconButton {
  padding: 10px;
}
