@import "../../styles/style.module";

.container {
  min-height: 120px;
  max-height: 480px;
  border-bottom: 1px solid gray;
  padding: 0 10px;
  &:hover {
    background-color: $post-hover;
  }
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userTag, .date {
  margin-left: 7px;
  font-size: 15px;
  color: gray;
}

.userTag {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.postDescription {
  width: 500px;
  font-size: 15px;
  margin: 5px 0 0 0;
  line-height: 22px;
}

.postMedia {
  pointer-events: none;
  object-fit: contain;
  margin-top: 10px;
  border: 1px solid $border-color;
  border-radius: 15px;
  width: 96%;
  max-height: 302px;
}

.wrapBtn {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding-right: 9px;
  margin-left: -8px;
}

.btnAction {
  @include transparentBtn(12px, 400);
}
