@import "../../styles/style.module";

.container {
  width: 100%;
  max-width: 320px;
  max-height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid $border-color;
}
